body {
    background-image: url('enchantedforest.jpg');
    background-size: auto;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
    margin-bottom: 2rem;
}

.header {
    font-size: 3.5rem;
    text-align: center;
    font-family: Luminari, fantasy;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#game-container {
    background-color: rgb(4, 54, 18);
    opacity: 0.8;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(228, 176, 231, 0.5);
    max-width: 90%;
    border: 1px solid rgb(4, 54, 18);
    justify-items: center;
    max-height: fit-content;
}

#text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
    min-height: 100px;
    color: antiquewhite;
    font-family: Palatino, URW Palladio L, serif;
    padding: 10px; 
}

#button-choices {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.btn {
    background-color: rgb(49, 77, 50);
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.2s;
    font-size: 1rem;
    font-weight: 600;
    font-family: Luminari, fantasy;
}

.btn:hover {
    background-color: rgb(67, 91, 69);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}